article {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
  }
  
a {
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: Center;
    font-family: system-ui;
    font-size: min(100%, 5vmin);
}


  body {
    background: hsl(204 100% 5%);
    
    min-block-size: 100%;
    min-inline-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui;
    font-size: min(200%, 5vmin);
  }
  
  h1, p, body {
    margin: 0;
  }
  
  p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }

  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  /* code that is here, until the first @media block, will apply to any screen size */
#somethingorother {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #somethingorother {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #somethingorother {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #somethingorother {
    width: 480px ;
  }
}

/* code that is here will apply to any screen size */

.right {
  text-align: right;
  float: right;
}

#ovoMenu {
  margin: 0px;
  padding: 0px;
  /* Size properties */
  padding-top: 5px;
  /* Font properties */
  color: #FFFFFF;
  font-size: 80%;
  /* Create a gradient */
  background-color: #418CE5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#418CE5', endColorstr='#256EC6');
  background: -webkit-gradient(linear, left top, left bottom, from(#418CE5), to(#256EC6));
  background: -moz-linear-gradient(top, #418CE5, #256EC6);
  /* Links are not allowed on another line */
  white-space: nowrap;
}

#ovoMenu a:link, #ovoMenu a:visited, #ovoMenu a:active, #ovoMenu a:hover {
  color: #FFFFFF;
  /* Corners */
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  /* Size */
  margin-left: 12px;
  padding-left: 12px;
  padding-right: 12px;
  /* Display it as a block */
  display: inline-block;
  /* Height of the link */
  height: 30px;
  line-height: 30px;
  /* No underline */
  text-decoration: none;
  /* No outline */
  outline: 0;
}

#ovoMenu a:hover {
  /* Other background */
  background-color: #13529E;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13529E', endColorstr='#084084');
  background: -webkit-gradient(linear, left top, left bottom, from(#13529E), to(#084084));
  background: -moz-linear-gradient(top, #13529E, #084084);
}

#ovoMenu a.active:link, #ovoMenu a.active:visited, #ovoMenu a.active:active, #ovoMenu a.active:hover {
  color: #333333;
  font-weight: bold;
  background: none;
  background-color: #E9E9E9;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: brown;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


